&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
<div class="main-content">
    <div class="login-container">
              <div class="row">
                  <div class="col-sm-5 mr-auto ml-auto">
                      <div class="card">
                        <div class="card-header" style="background-color:#f07c10">
                            <h4 class="card-title text-white">
                                <p><strong>Réinitialiser votre mot de passe</strong></p>
                            </h4>
                        </div>
                        <!--<div class="bg-danger">
                            <h4 class="card-title text-white"><strong>Authentification à SignArt</strong></h4>
                            <p class="card-category text-secondary">Merci de vous authentifier</p>
                        </div>-->
                        <!---
                        <div class="panel-heading" style="background-color:;">
                          <h3 class="panel-title" style="color: whitesmoke">Authentification à {{title}}</h3>
                        </div>-->
                        <div class="card-body">
                            <p>Saisissez l'adresse e-mail associé à votre compte SignArt. Nous vous enverrons un lien sur cette adresse e-mail pour réinitialiser votre mot de passe.</p>
                            <div id="existing-customer" class="panel-body" data-hook="login">
                                <!-- <div *ngIf="!user" class="login-third-party-login">
                                  <app-social-auth></app-social-auth>
                                </div>
                                <div *ngIf="user" class="login-third-party-login">
                                  <div class="login-button-container">
                                    <div class="card-block">
                                      <img style="width: 20%; height: 20%" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
                                    </div>
                                    <div class="card-block">
                                      <h4 class="card-title">{{ user.name }}</h4>
                                      <p class="card-text">{{ user.email }}</p>
                                    </div>
                                  </div> 
                                </div>-->
                                  <div class="example-form example-container">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Enter your email" [formControl]="email" required>
                                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>
                                  </div>
                                      <button mat-raised-button type="submit" (click)="onSubmit()" class="btn " style="background-color:#f07c10 ;color:azure">Enregistrer</button>
                              </div>
                        </div>

                      </div>
                      
                    </div>
  
              </div>

        
      </div>
</div>