<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="front">
      <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
        <img 
          [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+oeuvreNumerique.avatar?.value)" 
          [lazyLoad]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+oeuvreNumerique.avatar.value)" 
          class="img-fluid lazy-loading" 
          alt="{{ oeuvreNumerique?.titre }}"/>
      </a>
      
   
    </div>
    
   
  </div> <br>
  <div class="product-detail">
    <div class="row">
      <div class="col-md-9">
        <!--bar-rating [rate]="5" [readOnly]="true"></bar-rating-->
        <!--button class="btn btn-solid-Valider" type="submit">Valider</button-->
        <!--a href="javascript:void(0)" title="Add to cart" (click)="addToList(oeuvreNumerique)">
          <i title="Ajouter à la liste" class="fa fa-plus-square" style="font-size: 200%; color: #601A17;"></i>
        </a-->
        <a>
          <h6>{{getArtisteName(oeuvreNumerique?.identiteAuteur)}}
            <!--a href="javascript:void(0)" title="Add to cart" (click)="addToList(oeuvreNumerique)">
               <i title="Ajouter à la liste" class="fa fa-plus-circle" style="font-size: 160%; color: #601A17;"></i>
            </a-->
          </h6><br>
          <h6>{{oeuvreNumerique?.annee }}   </h6>
        </a>
        <h4>
         {{oeuvreNumerique?.titre | titlecase }} 
        </h4>
        
      </div>
      <div class="col-md-3">
        
        <a href="javascript:void(0)" title="Add to cart" (click)="addToList(oeuvreNumerique)">
          <i title="Ajouter à la liste" class="fa fa-plus-square" style="font-size: 200%; color: #601A17;"></i>
        </a>
      </div>
    </div>
   
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<quick-view-oeuvre-numerique #quickView [oeuvreNumerique]="oeuvreNumerique" [currency]="currency"></quick-view-oeuvre-numerique>
<app-cart-modal #cartModal [oeuvre]="oeuvre" [currency]="currency" *ngIf="cartModal"></app-cart-modal>

