<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
  <div class="mobile-fix-option"></div>
  <div class="top-header coverback" *ngIf="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>
              <!-- <li>Besoin d'aide</li> -->
              <!-- <li><i class="fa fa-phone" aria-hidden="true"></i>Tel: +221 33 849  46 46</li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right mb-5">
          <ul class="header-dropdown">
            <li class="mobile-wishlist" (click)="redirect('/shop/wishlist')">
              <a [routerLink]="['/shop/wishlist']"><i class="fa fa-heart" ></i>{{"Favoris" | translate}}</a>
            </li>
            <li class="mobile-account" (click)="redirect('/pages/dashboard')">
              <a [routerLink]="['/pages/dashboard']"><i class="fa fa-user"></i> {{"Mon compte" | translate}} </a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <div class="brand-logo">
              <a routerLink="/home/fashion" id="headerlogo">
                <!--img [src]="themeLogo" class="img-fluid" alt="logo" style="width: 150px;"-->
                <img [src]="themeLogo" class="img-fluid" alt="logo" width="95" height="95">
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-menu></app-menu>
            </div>
            <div>
              <app-settings></app-settings>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
