.contains {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bjrouge {
	min-height: 100px;
	background:#9a1004;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00);
	text-align: center;
	padding: 10px;
	margin-bottom:5px;
	box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.52);
	font-size: 11px;
}
.col-p{
	color: white;
}

.side-l{
	width:100%;
    float: left;
    padding-top: 10px;
}

/* .side-r{
	width: 30%;
	float: right;
} */
.big-l{
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.brouge {
	min-height: 100px;
	background: #A40F7C;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00) !important;
	text-align: center;
	padding: 10px;
	margin-bottom:5px;
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.52);
	font-size: 11px;
}

/* .bvert {
	background: #95C125;
	min-height: 100px;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00);
	text-align: center;
	padding: 10px;
	margin-bottom:5px;
	box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.52);
	font-size: 11px;
} */

.bbleu {
	min-height: 100px;
	background: #4d4d4d;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00);
	text-align: center;
	padding: 5px;
	margin-bottom:5px;
	box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.52);
	font-size: 11px;
}
.blanc {
	min-height: 100px;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00);
	text-align: center;
	padding: 5px;
	margin-bottom:5px;
	// box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.52);
	font-size: 11px;
}
.marrons {
	min-height: 100px;
	background: #601A17;
	border-radius: 5px;
	box-shadow: 10px;
	color:rgba(255,255,255,1.00);
	text-align: center;
	padding: 5px;
	margin-bottom:5px;
	box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.52);
	font-size: 11px;
}

.pink {
	background-image: url(/assets/images/artists/cover.jpg);
	background-position: center;
	background-size: cover;
	color: rgb(233, 233, 233);
}

.annonce{
	font-size: 13px !important;
	padding: 10px;
	background: #044d16;
	color: #ffffff;
}
.abonnement{
	font-size: 13px !important;
	padding: 10px;
	width: 175px;
	background: #770404;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

.product-box {
    margin-top: 50px;
    border: beige;
    border-style: solid;
    border-width: thin;
    padding: 5px;
}
textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    border-width: thin;
    border-color: #f2f2f2;
    min-height: 175px;
    margin-bottom: 20px !important;
    padding: 5px;
}

.gplus{
    background: #ffffff !important;
    margin-left: 10px;
    border-color: rgb(224, 224, 224) !important;
    color: #801010 !important;
}