<div class="template-password">
    <div class="container">
        <div id="container" class="text-center">
            <div>
                <div id="login">
                    <div>
                        <div class="logo mb-4">
                            <a [routerLink]="['/home/fashion']">
                                <img src="assets/images/icon/logo_signart.png" alt="Logo Signart" class="img-fluid">
                            </a>
                        </div>
                        <h2 class="mb-3">
                            Nous serons bientôt de retour
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="#" class="theme-form">
                                <div class="col-md-12 mt-2">
                                    <h3>Entrer votre adresse E-mail: </h3>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <input type="password" name="password" id="password" class="form-control" autofocus="">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="actions">
                                            <button type="submit" class="btn btn-solid">Me notifier</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div id="footer" class="mt-4">
                        <div id="owner">
                            Etes-vous Administrateur? <a href="#">Se connecter</a> or <a href="#">Changer votre mot de passe</a>
                        </div>
                    </div>
                </div>
                <div id="powered">
                    <p>© 2020, Designed by Maestrodan</p>
                </div>
            </div>
        </div>
    </div>
</div>