<ng-template class="theme-modal" #quickView let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" title="Fermer" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6  col-xs-12">
                    <div class="quick-view-img">
                        <img [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+oeuvreNumerique.avatar.value)"  [alt]="oeuvreNumerique.titre" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ oeuvreNumerique.titre | titlecase }}</h2>
                        <h3>{{ oeuvreNumerique?.tarif }} FCFA
                            <!--del *ngIf="oeuvre?.discount"><span class="money">{{ oeuvre.prix * currency?.price | currency:currency?.currency:'symbol' }}</span></del-->
                            <!--del *ngIf="oeuvre?.tauxremise"><span class="money"> {{ oeuvre?.prix }} FCFA</span></del-->
                        </h3>
                        <div class="border-product">
                            <h6 class="product-title">Description</h6>
                            <p>{{ oeuvreNumerique.description.substring(0, 200)+'...' }}</p>
                        </div>
                        <div class="product-description border-product">
                            <h5 class="avalibility"><span>Auteur: {{getArtisteName(oeuvreNumerique.identiteAuteur)}}</span></h5>
                            <h6 class="product-title">Année: {{oeuvreNumerique.annee}}</h6>
                            <h6 class="product-title">Technique: {{oeuvreNumerique.technique}}</h6>
                            <h6 class="product-title">Dimension: {{oeuvreNumerique.longueur}} X {{oeuvreNumerique.longueur}}</h6>                          
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0)" title="Ajouter au panier" class="btn btn-solid">Ajouter</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>