<app-breadcrumb [title]="'Se connecter'" [breadcrumb]="'Se connecter'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Se connecter</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                            <div *ngIf="signInForm.get('email').errors && signInForm.get('email').touched">
                                <span class="login-error-icon text-danger">!</span>
                                <!-- <p class="login-error-message text-danger">{{signInForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>  -->
                                <p class="login-error-message text-danger">Entez une adresse vadile</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review">Mot de passe</label>
                            <input type="password" class="form-control" id="review" placeholder="Entrer votre mot de passe"  formControlName="password" >
                            <div *ngIf="connexionStatut == false">
                                <p class="login-error-message text-danger">Identifiant ou mot de passe non valide !</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-solid-Valider">Se connecter</button>
                        <button class="btn btn-solid facebook"> <i class="ti-facebook"></i> Facebook</button>
                        <button class="btn btn-solid gplus"><i class="ti-google"></i> Google Plus</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Nouvel utilisateur ?</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Créer un compte</h6>
                    <p>Rejoignez la plateforme SignArt et profitez des nombreuses offres proposées. L'inscription est rapide pour l'artiste comme pour le client. N'attendez plus :) .   </p>
                    <button [routerLink]="['/pages/register']" class="btn btn-solid-Valider">Créer un compte Client</button>
                    <button [routerLink]="['/pages/register-artist']" class="btn btn-solid-Valider lamarge">Devenir artiste SignArt</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->