<app-breadcrumb [title]="'Se connecter'" [breadcrumb]="'Se connecter'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>{{"Se connecter" | translate}}</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">{{"Email" | translate}}</label>
                            <input type="email" class="form-control" id="email" placeholder="{{'Adresse mail' | translate}}" formControlName="email">
                            <div *ngIf="signInForm.get('email').errors && signInForm.get('email').touched">
                                <!-- <p class="login-error-message text-danger">{{signInForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>  -->
                                <p class="login-error-message text-danger"> <span class="login-error-icon text-danger">!</span> {{"Entrez une adresse email valide" | translate}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review">{{"Mot de passe" | translate}}</label>
                            <input type="password" class="form-control" id="review" placeholder="{{'Mot de passe' | translate}}"  formControlName="password" >
                            <div *ngIf="connexionStatut == false">
                                <p class="login-error-message text-danger">{{"Identifiant ou mot de passe non valide" | translate}} !</p>
                            </div>
                        </div>
                        <button type="submit" title="{{'Se connecter' | translate}}" class="btn btn-solid-Valider" [disabled]="!signInForm.valid">{{"Se connecter" | translate}}</button>
                        <button  title="Facebook" class="btn btn-solid facebook"> <i class="ti-facebook"></i> {{"Facebook" | translate}}</button>
                        <button class="btn btn-solid gplus" title="Google +" ><i class="ti-google"></i> {{"Google Plus" | translate}}</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>{{"Nouvel utilisateur" | translate}} ?</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">{{"Créer un compte" | translate}}</h6>
                    <p>{{"Rejoignez la plateforme SignArt et profitez des nombreuses offres proposées. L\'inscription est rapide pour l\'artiste comme pour le client. N\'attendez plus" | translate}} :) .  </p>
                    <button [routerLink]="['/pages/register']" title="{{'Créer un compte client' | translate}}" class="btn btn-solid-Valider">{{"Créer un compte Client" | translate}}</button>
                    <button [routerLink]="['/pages/register-artist']" title="{{'Créer un compte artiste' | translate}}" class="btn btn-solid-Valider lamarge">{{"Devenir artiste SignArt" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->