<div class="row">
    <div class="col-lg-12">
        <div class="theme-card">
            <form class="theme-form" [formGroup]="oeuvreForm"
            (ngSubmit)="onAddArticle()">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="email">Nom</label>
                        <input type="text" class="form-control" id="fname" placeholder="Nom de l'oeuvre" formControlName="nom">
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12 col-sm-6 col-xs-12">
                            <label for="review">Technique</label>
                            <select name="Technique" class="form-control" formControlName="technique">
                              <option *ngFor="let technique of techniques" [value]="technique.id">{{technique.libelle}}</option>
                          </select>
                        </div>
                       
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="review">Nouvelle Oeuvre</label>
                            <select formControlName="nouveau" name="isNew" class="form-control">
                                <option value="true">Oui</option>
                                <option value="false">Non</option>
                            </select>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="review">Couleur</label>
                        <select formControlName="couleur" name="country" class="form-control">
                            <option value="none">Selectionner la couleur</option>
                            <option value="1">Noir</option>
                            <option value="2">Blanc</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="email">Auteur</label>
                        <input type="text" formControlName="auteur" class="form-control" id="email" placeholder="Auteur">
                    </div>
                    <div class="col-md-6">
                        <label for="review">Dimensions</label>
                        <input type="texte" formControlName="dimensions" class="form-control" id="review" placeholder="Dimensions" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="email">Année</label>
                        <input type="number" formControlName="annee" class="form-control" id="email" placeholder="Année" >
                    </div>
                    <div class="col-md-6">
                        <label for="review">Prix</label>
                        <input type="number" formControlName="prix" class="form-control" id="review" placeholder="Prix (XOF)" >
                    </div>
                    <!--div class="col-md-6">
                        <label for="email">Remise</label>
                        <input type="number" formControlName="tauxremise" class="form-control" id="email" placeholder="Remise">
                    </div-->
                    <div class="col-md-6">
                        <label for="review">Taxes</label>
                        <input type="number" formControlName="taxes" class="form-control" id="review" placeholder="18%" >
                    </div>
                    <div class="col-md-12">
                        <label for="review">Télécharger l'image &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input type="file" id="image" (change)="onFileSelected($event)" value="oeuvreForm.image" class="form-control" id="review" >
                    </div>
                    <div class="col-md-12">
                        <label for="review">Description</label>
                        <textarea formControlName="description" ></textarea>
                    </div>
                    
                    <button type="submit" [disabled]="!oeuvreForm.valid" class="btn btn-solid">Valider</button>
<!--                <button type="button" (click)="cancelAdd();" class="btn btn-solid gplus">Annuler</button> -->
                </div>
            </form>
        </div>
        <ngx-ui-loader [loaderId]="'loader-01'" logoUrl="assets/images/icon/LogoGif.gif" logoSize="300" fgsType="rectangle-bounce" fgsColor="rgba(255,255,255,0.8)" [hasProgressBar]="false" logoPosition="center-center" overlayColor="rgba(255,255,255,0.8)"  blur="1"></ngx-ui-loader>
    </div>
</div>