<ng-template class="theme-modal" #quickView let-modal>
    <div class="modal-content quick-view-modal">
        <div class="modal-body">
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-lg-6  col-xs-12">
                    <div class="quick-view-img">
                        <img [src]="getOeuvreImageUrl(oeuvre.id)" [alt]="oeuvre.nom" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ oeuvre.nom | titlecase }}</h2>
                        <h3>{{ oeuvre?.prix - (oeuvre?.tauxremise * oeuvre?.prix)/100  }} FCFA
                            <!--del *ngIf="oeuvre?.discount"><span class="money">{{ oeuvre.prix * currency?.price | currency:currency?.currency:'symbol' }}</span></del-->
                            <del *ngIf="oeuvre?.tauxremise"><span class="money"> {{ oeuvre?.prix }} FCFA</span></del>
                        </h3>
                        <div class="border-product">
                            <h6 class="product-title">Détails oeuvre</h6>
                            <p>{{ oeuvre.description.substring(0, 200)+'...' }}</p>
                        </div>
                        <div class="product-description border-product">
                            <!-- <div class="size-box" *ngIf="Size(product.variants).length">
                                <ul>
                                    <li *ngFor="let size of Size(product.variants)">
                                        <a href="javascript:void(0)">{{ size | titlecase }}</a>
                                    </li>
                                </ul>
                            </div> -->
                            <h5 class="avalibility" *ngIf="counter <= oeuvre.stock"><span>En stock</span></h5>
                            <h5 class="avalibility" *ngIf="counter > oeuvre.stock"><span>Rupture de stock</span></h5>
                            <h6 class="product-title">quantité</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" title="Diminuer la quantité" class="btn quantity-left-minus" data-type="minus" (click)="decrement()">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number"  [value]="counter" disabled>
                                    <span class="input-group-prepend">
                                        <button title="Augmenter la quantité" type="button" class="btn quantity-right-plus" data-type="plus" (click)="increment()">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0)" class="btn btn-solid" title="Ajouter au panier" [class.disabled]="counter > oeuvre.stock" (click)="addToCart(oeuvre)">Au panier</a>
                            <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]" title="Voir plus de détails" class="btn btn-solid">Détails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>