<app-breadcrumb [title]="'Search'" [breadcrumb]="'Recherche'"></app-breadcrumb>
<!-- section start -->
<section class="authentication-page section-b-space">
    <div class="container">
      <section class="search-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <form class="form-header">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Recherchez une oeuvre">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </section>
        <div class="col-sm-12 text-center">
          <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
            <h3>Désolé! Impossible de trouver le produit que vous recherchiez !!!    </h3>
            <p>Veuillez vérifier si vous avez mal orthographié quelque chose ou essayez de rechercher avec d'autres mots.</p>
            <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">Continuer l'exploration</a>
        </div>
    </div>
 </section>
<!-- section end -->