<app-breadcrumb [title]="'Mes Annonces'" [breadcrumb]="'Mes Annonces'"></app-breadcrumb>

<section class="section-l">
      <div class="container">
          <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <div class="row">
                          <div class="col-md-4">
                            <img src="assets/images/banner/banner_d.png" class="img-fluid radius-img" alt="iamge à la une signart">
                          </div>
                              <div class="col-md-6">
                                      <h3 class="ttle">
                                        Exposition place du souvenir africain
                                      </h3>
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. 
                                        
                                      </p>
                                      <div class="row">
                                        <div class="col-md-6 col-sm-6"><h5><span class="badge badge-success">Dakar - Place de l'indépendance</span></h5></div>
                                        <div class="col-md-3 col-sm-6"><h5><span class="badge badge-secondary">à 16H30</span></h5></div>
                                        <div class="col-md-3 col-sm-6"><h5><span class="badge badge-primary">Dan Enriqué</span></h5></div>
                                      </div>
                                    </div>
                                </div>
                      </div>
                      <hr>
                      <div class="container martop">
                        <div class="row">
                          <div class="col-md-4">
                            <img src="assets/images/banner/cover_youtube.jpg" class="img-fluid radius-img" alt="iamge à la une signart">
                          </div>
                              <div class="col-md-6">
                                      <h3 class="ttle">
                                        Exposition à la place de l'indépendance
                                      </h3>
                                      <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea commodo consequat. 
                                        
                                      </p>
                                      <div class="row">
                                        <div class="col-md-6 col-sm-6"><h5><span class="badge badge-success">Dakar - Place de l'indépendance</span></h5></div>
                                        <div class="col-md-3 col-sm-6"><h5><span class="badge badge-secondary">à 16H30</span></h5></div>
                                        <div class="col-md-3 col-sm-6"><h5><span class="badge badge-primary">Dan Enriqué</span></h5></div>
                                      </div>
                                    </div>
                                </div>
                      </div>
                </div>
                <div class="col-md-3 blog-page">
                    <div class="blog-sidebar">
                        <div class="theme-card">
                            <h4>Evénements récents</h4>
                            <ul class="recent-blog">
                                <li>
                                    <div class="media">
                                        <img class="img-fluid" src="assets/images/blog/blog_signart.jpg" alt="Generic placeholder image">
                                        <div class="media-body align-self-center">
                                            <h6>25 Juillet 2020</h6>
                                            <p>0 Like</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid" src="assets/images/blog/blog_signart.jpg" alt="Generic placeholder image">
                                        <div class="media-body align-self-center">
                                            <h6>25 Juillet 2020</h6>
                                            <p>0 Like</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid" src="assets/images/blog/blog_signart.jpg" alt="Generic placeholder image">
                                        <div class="media-body align-self-center">
                                            <h6>25 Juillet 2020</h6>
                                            <p>0 Like</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid" src="assets/images/blog/blog_signart.jpg" alt="Generic placeholder image">
                                        <div class="media-body align-self-center">
                                            <h6>25 Juillet 2020</h6>
                                            <p>0 Like</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <img class="img-fluid" src="assets/images/blog/blog_signart.jpg" alt="Generic placeholder image">
                                        <div class="media-body align-self-center">
                                            <h6>25 Juillet 2020</h6>
                                            <p>0 Like</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
      </div>
    </section>
