<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Merci</h2>
                    <p>Le paiement sur Signart a été effectué avec succès </p>
                    <p>N°  de Transaction: 267676GHERT105467</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Détails de votre commande</h3>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="assets/images/product/fashion/1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Article</h4>
                                <h5>Oeuvre d'artt</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>quantité</h4>
                                <h5>1</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>prix</h4>
                                <h5>100.000 FCFA</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Total <span>100.000 FCFA</span></li>
                            <li>Livraison <span>Dakar 1000 FCFA</span></li>
                            <li>taxe 18% <span>8000 FCFA</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>109.000 FCFA</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>Sommaire</h4>
                        <ul class="order-detail">
                            <li>ID Commande: 5563853658932</li>
                            <li>Date de commande: October 22, 2020</li>
                            <li>Commande totale: 109.000 FCFA</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>Adresse de livraison</h4>
                        <ul class="order-detail">
                            <li>Boulevard de la république Dakar Sénégal</li>
                            <li>Dakar.</li>
                            <li>Tel: +221 00 000 00 00 </li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>Méthode de paiement</h4>
                        <p>Paiement à la livraison (Cash/Card).</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>Date prévue de livraison</h3>
                            <h2>30/07/2020</h2>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->