<app-breadcrumb [title]="'Facturation'" [breadcrumb]="'Facturation'"></app-breadcrumb>
<section class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>Détails de la facturation</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Prénom</div>
                                    <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                                    Prénom obligatoire !
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                                    First Name must be an alphabates.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Nom </div>
                                    <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                                    Nom obligatoire!
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                                    Last Name must be an alphabates.
                                    </div> -->
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">Téléphone</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required" class="text text-danger">
                                     Téléphone obligatoire!
                                    </div>
                                    <!-- <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern" class="text text-danger">
                                      Phone No is must be number.
                                    </div> -->
                                </div>
                                 <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Pays</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option *ngFor="let p of allPays" [value]="p.code">{{p.libelle}}</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                                     Pays obligatoire!
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">Adresse</div>
<!--                                     <input type="text" name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" autocomplete="off"> -->                                    <select name="address" [formControl]="checkoutForm.controls['address']" value="" placeholder="" required>
                                        <option value="">Choisissez une adresse ici !</option>
                                        <option *ngFor="let a of listAdresses; let index = index" [value]="index">{{a.adresse}}</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required" class="text text-danger">
                                     Adresse obligatoire!
                                    </div>
                                   <!--  <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength" class="text text-danger">
                                      Maximum 50 character
                                    </div> -->
                                </div>
                                <!--div class="box-head">
                                    <a href="javascript:void(0)" style="float: right;"><h5 style="color: #601A17;">Ajoutez une nouvelle adresse</h5></a>     
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <div>
                                                <section class="register-page section-b-space">
                                                  <form class="theme-form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <label for="prenom">Prénom</label>
                                                          <input class="form-control" formControlName="prenom"  placeholder="Prénom" [(ngModel)]="client.prenom">
                                                        <div>
                                                          <span *ngIf="addressForm.get('prenom').errors && addressForm.get('prenom').touched" style="color: red;"> Veuillez saisir un prénom !</span>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-6">
                                                        <label for="nom">Nom</label>
                                                          <input class="form-control" formControlName="nom"  placeholder="Nom" [(ngModel)]="client.nom">
                                                        <div>
                                                          <span *ngIf="addressForm.get('nom').errors && addressForm.get('nom').touched" style="color: red;" >Veuillez saisir un nom !</span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <label for="ville">Ville</label>
                                                          <input class="form-control" formControlName="ville"  placeholder="Ville">
                                                        <div>
                                                          <span *ngIf="addressForm.get('ville').errors && addressForm.get('ville').touched" style="color: red;"> Veuillez donner une ville !</span>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-6">
                                                        <label for="region">Région</label>
                                                          <input class="form-control" formControlName="region"  placeholder="Région">
                                                        <div>
                                                          <span *ngIf="addressForm.get('region').errors && addressForm.get('region').touched" style="color: red;"> Veuillez donner une région
                                                          </span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <label for="adresse">Adresse</label>
                                                          <input class="form-control" formControlName="adresse"  placeholder="Adresse">
                                                        <div>
                                                          <span *ngIf="addressForm.get('adresse').errors && addressForm.get('adresse').touched" style="color: red;"> Veuillez donner une adresse</span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                     <br>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <label for="telephone">Téléphone</label>
                                                          <input class="form-control" formControlName="telephone"  placeholder="Téléphone" [(ngModel)]="client.telephone">
                                                        <div>
                                                          <span *ngIf="addressForm.get('telephone').errors && addressForm.get('telephone').touched" style="color: red;"> Veuillez donner un numéro !</span>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <div>
                                                          <label for="pays">Pays</label>
                                                          <select  class="form-control"  (change)="choisirPays($event)" formControlName="idPays" placeholder="Pays" value="{{pays}}">
                                                            <option>-- Selectionner --</option>
                                                            <option *ngFor="let p of allPays" [value]="p.id">{{p.libelle}}</option>
                                                          </select>
                                                          <br>
                                                          <div>
                                                            <span *ngIf="addressForm.get('idPays').errors && addressForm.get('idPays').touched" style="color: red;"> Veuillez choisir un pays !</span>
                                                          </div>
                                      
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        <label for="telephone">Téléphone</label>
                                                        <div class="row">
                                                          <div  class="col-md-2">
                                                            <input type="text" class="form-control" formControlName="indicatif" [(ngModel)]="indicatifpays" disabled="true">
                                                          </div>
                                                          <div  class="col-md-10">
                                                            <input class="form-control" formControlName="telephone"  placeholder="Téléphone" [(ngModel)]="client.telephone">
                                                          </div>
                                                          <div>
                                                            <span *ngIf="!addressForm.get('telephone').valid && addressForm.get('telephone').touched"></span>
                                                          </div>
                                                        </div>
                                                       
                                                      </div>
                                                    </div>
                                                    <br>
                                                    <div *ngIf="isAuthenticated" colspan="2" class="content-center">
                                                      <button class="btn btn-solid-Valider" [disabled]="!addressForm.valid">Valider</button>
                                                    </div>
                                                    <div *ngIf="!isAuthenticated" colspan="2" class="content-center">
                                                      <button class="btn btn-solid-Valider"
                                                        [disabled]="!addressForm.valid && !emailForm.valid">Valider</button>
                                                    </div>
                                                  </form>
                                                </section>
                                          </div>
                                        </div>
                                      </div>
                                      <style>
                                        .example-container {
                                          display: flex;
                                          flex-direction: column;
                                        }
                                        .example-container>* {
                                          width: 100%;
                                        }
                                      </style>
                                </div-->
                            </div>
                        </div> 
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>Article <span> Total</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='products.length'>
                                        <li *ngFor="let product of products">
                                        	 {{ product.nom }} (× {{ product.quantity }})
                                        	<span>
                                                {{ product?.prix - (product?.tauxremise * product?.prix)/100 | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!products.length'>
                                        <li class="empty-checkout"> Il n'y a aucun produit dans le panier </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                        	Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr'}}</span>
                                        </li>
                                        <!--li>
                                        	Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol'}} </span>
                                        </li-->
                                        <li *ngIf='products.length'>
                                            Livraison
                                         <div *ngIf="isLivraisonOk==false">
                                            <br>
                                            <div class="shopping-option"  *ngFor="let modeLivraison of allModeLivraison, let index">
                                                <input  (click)="livraisonCheck(modeLivraison)"  type="radio" [(ngModel)]="livraisonStr" [value]="modeLivraison.LCode" name="shipping_{{modeLivraison.id}}" id="free-shipping_{{modeLivraison.id}}">
                                                <label  for="free-shipping_{{modeLivraison.id}}">{{modeLivraison.libelle}}</label>
                                            </div>
                                            
                                            <!-- <div class="shopping-option">
                                                <input type="radio"  name="shipping" id="local-pickup">
                                                <label for="local-pickup">A domicile</label>
                                            </div> -->
                                         </div>
                                         <button *ngIf="livraisonStr!= '' && isLivraisonOk==false" title="Confirmer le mode de livraison" type="button" class="btn-solid btn" (click)="CheckFormEtPayer()" >
                                            Confirmer livraison
                                         </button>

                                        </li>
                                        <li *ngIf="isLivraisonOk==true">
                                            <br>
                                            <div>
                                                "{{selectedModeLiv.libelle}}" a été choisit.
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>Total <span class="count">{{ getTotal | async | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr'}}</span></li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='products.length'>
                                    <div class="upper-box" *ngIf='isLivraisonOk==true'>
                                        <div class="payment-options">
                                            <button type="button" title="Retour" class="btn-solid btn" (click)="resetPayment()"  *ngIf="payment != ''">
                                                Retour Au Choix
                                             </button>
                                            <ul>
                                                <li>
                                                    <div  *ngIf="payment == ''">
                                                        <div *ngFor="let modePaiement of allModePaiement" class="radio-option">
                                                            <input type="radio" [(ngModel)]="payment" [value]="modePaiement.code" name="MP_{{modePaiement.libelle}}" id="MP_{{modePaiement.id}}">
                                                            <label for="MP_{{modePaiement.id}}">{{modePaiement.libelle}}</label>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li *ngIf="payment == 'ESPECE'">
                                                    <strong style="width: 100%;">Paiment en espèce</strong>
                                                    <br>
                                                    <app-cash-on-delivery (payOnDelivery)="makePayment()"></app-cash-on-delivery>
                                                </li>
                                                <li *ngIf="payment == 'PAYPAL'"> <!-- + (shippingOptionPrice$ | async) -->
                                                    <strong style="width: 100%;">Paiment avec Paypal</strong>
                                                    <br>
                                                    <app-paypal [finalAmount]="getTotal | async"></app-paypal>
                                                </li>
                                                <li *ngIf="payment == 'PAYDUNYA'"> <!-- + (shippingOptionPrice$ | async) -->
                                                    <strong style="width: 100%;">Paiment avec Paydunya</strong>
                                                    <br>
                                                    <app-paydunya (payOnDunya)="makePayment()"></app-paydunya>
                                                </li>
                                                <span *ngIf="payment == ''" class="image"><img src="assets/images/paypal.png" alt="" /></span>
                                                <!-- <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="payment" [value]="'Paypal'" name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img src="assets/images/paypal.png" alt="" /></span></label>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- [disabled]="!checkoutForm.valid" (click)="stripeCheckout()" (click)="showInf()" *ngIf="payment == 'PAYPAL'" -->
                                    <div class="text-right"  *ngIf="isLivraisonOk==false">
                                        <button title="Payer la commande" type="submit" class="btn-solid btn" (click)="CheckFormEtPayer()" >
                                           Payer
                                        </button>
                                        <ngx-paypal [config]="payPalConfig"  *ngIf="payment == 'PAYPAL'"></ngx-paypal>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>