<div class="icon-nav">
  <ul>
    <li class="onhover-div mobile-search search-widgets" id="search-widgets">
      <div>
        <img src="assets/images/icon/search.svg" class="img-fluid" alt="">
        <i class="ti-search"></i>
      </div>
    </li>
    <li class="onhover-div mobile-setting">
      <div><img src="assets/images/icon/user.svg" class="img-fluid" alt="settong">
        <i class="ti-palette"></i></div>
      <div class="show-div setting">
        <ul *ngIf="! (isAuthenticated | async)">
          <li>
            <a [routerLink]="['/pages/login']"> {{"Se connecter" | translate}} </a>
          </li>
          <li>
            <a [routerLink]="['/pages/register']"> {{"S'inscrire" | translate}} </a>
          </li>

          <li>
            <a [routerLink]="['/pages/register-artist']">{{"Créer un compte artiste" | translate}}</a>
          </li>
        </ul>
        <ul *ngIf="isAuthenticated | async">
          <li>
            <a [routerLink]="['/pages/dashboard']">{{"Espace personnel" | translate}}</a>
          </li>
          <li>
            <a [routerLink]="['/pages/wishlist']">{{"Favoris" | translate}}</a>
          </li>
          <li>
            <a (click)="logout()" style="cursor: pointer;"> {{"Déconnexion" | translate}} </a>
          </li>
        </ul>
      </div>
    </li> 
    <li class="onhover-div mobile-cart" *ngIf="user == null">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.svg" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ newOeuvres.length }}</span>
      <ul class="show-div shopping-cart" *ngIf='!newOeuvres.length'>
        <h5>Votre Panier est vide.</h5>
      </ul>
      <ul class="show-div shopping-cart" *ngIf='newOeuvres.length'>
        <li *ngFor="let oeuvre of newOeuvres">
          <div class="media">
            <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">
              <img class="mr-3" [src]="getOeuvreImageUrl(oeuvre?.id)" [alt]="oeuvre.nom">
            </a>
            <div class="media-body">
              <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">
                <h4>{{ oeuvre?.nom }}</h4>
              </a>
              <h4>
                <!--span>
                  {{ oeuvre?.quantity }} x 
                  {{ oeuvre?.prix - (oeuvre?.tauxremise * oeuvre?.prix)/100 | currency:productService?.Currency.currency:'symbol' }}                
                </span-->
                <span>
                  {{ oeuvre?.quantity }} x 
                  {{ oeuvre?.prix - (oeuvre?.tauxremise * oeuvre?.prix)/100 | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr' }}                </span>
              </h4>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(oeuvre)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>Total : <span>{{ getNewTotal | async | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr' }}</span></h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a [routerLink]="['/shop/cart']" class="view-cart">
             <span>
              <strong>
                <h5>
                  {{"Voir Panier" | translate}}
                </h5>
              </strong>
             </span>
            </a>
           <!--  <a [routerLink]="['/shop/checkout']" class="checkout">Paiement</a> -->
          </div>
        </li>
      </ul>
    </li>
    <li class="onhover-div mobile-cart" *ngIf="isAuthenticated | async">
      <div>
        <a [routerLink]="['/shop/cart']">
          <img src="assets/images/icon/cart.svg" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span class="cart_qty_cls">{{ oeuvres.length }}</span>
      <ul class="show-div shopping-cart" *ngIf='!oeuvres.length'>
        <h5>Votre Panier est vide.</h5>
      </ul>
     <span class="show-div shopping-cart">
      <div class="buttons voirPanier">
        <a [routerLink]="['/shop/cart']" class="view-cart"><h5>
          <span >
            <strong>Voir Panier</strong>
          </span>
          </h5>
        </a>
        <hr>
      </div>
      
      <ul *ngIf='oeuvres.length'>
        <li *ngFor="let oeuvre of oeuvres">
          <div class="media">
            <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">
              <img class="mr-3" [src]="getOeuvreImageUrl(oeuvre?.id)" [alt]="oeuvre.nom">
            </a>
            <div class="media-body">
              <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">
                <h4>{{ oeuvre?.nom }}</h4>
              </a>
              <h4>
                <!--span>
                  {{ oeuvre?.quantity }} x 
                  {{ oeuvre?.prix - (oeuvre?.tauxremise * oeuvre?.prix)/100 | currency:productService?.Currency.currency:'symbol' }}                
                </span-->
                <span>
                  {{ oeuvre?.quantity }} x 
                  {{ oeuvre?.prix - (oeuvre?.tauxremise * oeuvre?.prix)/100 | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr' }}                </span>
              </h4>
            </div>
          </div>
          <div class="close-circle" (click)="removeItem(oeuvre)">
            <a href="javascript:void(0)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>Total : <span>{{ getTotal | async | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr' }}</span></h5>
          </div>
        </li>
      </ul>
     </span>
    </li>
  </ul>
</div>