<app-breadcrumb [title]="'Exposition'" [breadcrumb]="'Exposition'"></app-breadcrumb>
<div class="container">
	<div class="row">
			<div class="col-md-3">
				<div class="collection-sidebar-banner filter-main-btn">
                    <video width="100%" preload="auto" autoplay="autoplay" >
                        <source src="assets/images/banner/animation.mp4" type="video/mp4">
                      </video>
                </div>

                <div class="collection-sidebar-banner">
                    <a [routerLink]="['/shop/collection/left/sidebar']">
                        <img src="assets/images/banner/banner3.jpg" class="img-fluid" alt="banner">
                    </a>
                </div>
				
			</div>
			<div class="col-md-9">
				<div class="col-md-12 mar2">
					<div class="top-banner-wrapper">
							<div class="card col-md-12 text-center">
								<div class="card-body">
								  <h5 class="card-title">
									<!--img src="assets/images/profile/artist.jpg" alt="Placeholder image" width="90" class="rounded-circle img-fluid"-->
									<img [src]="getArtisteImageUrl(artiste?.id)" onError="this.src='assets/images/artists/profile.jpg'" alt="Placeholder image" width="300" height="500" class=" img-fluid">
								  </h5>
								  <h6 class="card-subtitle mb-2 text-muted">{{artiste?.prenom}} {{artiste?.nom}}</h6>
								  <p class="card-text">{{artiste?.profession}}</p>
								  <!--a href="#" class="card-link">Détails</a--></div>
							  </div>
						
					   <div class="top-banner-content small-section">
						  
						   <h5>{{artiste?.profession}}</h5>
						   
						   <p>
							   {{artiste?.biographie}}
						   </p>
					   </div>
				   </div>
<!-- AFFICHAGE DE LA CARTE (MAP) ici --> 	
<div class="row mt-5">
	<div class="col-md-9 mx-auto">
		<h2 class="text-left">Signart Exposition</h2>
		<div class="card mt-3">
			<div class="card-body">
				<div #mapRef style="width:100%;height:400px"></div>
			</div>
		</div>
	</div>
</div>		
				   <div class="row margebas mar2">
					<div class="col-md-3">



<!-- CONTINUER LE FILTRE -->
<label for="select"><b>Filtre par:</b></label>
<select name="select" id="select">
<option>Auteur</option>
<option>Dan Enriqué</option>
</select>
					</div>
					<div class="col-md-3 borderleft" >
						<label for="select"><b>Filtre par:</b></label>
						<select name="select" id="select">
						<option>Galerie </option>
						  <option>Sculpture </option>
						  <option>Peinture</option>
						</select>
					</div>

					<div class="col-md-3 borderleft">
						<label for="select"><b>Filtre par:</b></label>
						<select name="select" id="select">
						<option>Ville </option>
						  <option>Dakar </option>
						  <option>Thies</option>
						  <option>Ziguinchor</option>
						</select>

					</div>
					<div class="col-md-3 form-group borderleft">
						<label for="select"><b>Filtre par date:</b></label>
						<input class="leform" type="date">

					</div>
					<!-- Filtre par Date -->

				</div>
						<div class="row mar" *ngFor="let exposition of expositions | slice: (pag-1) * pageSize : (pag-1) * pageSize + pageSize">
							<div >
						    <div class="col-xl-6 padd-left"><img src="/assets/images/costoflivingdakar.jpg" class="img-fluid" alt="Placeholder image"></div>
						    <div class="col-xl-6 small-section">
							  <h3>Exposition d'oeuvres d'art</h3>
							  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
							  <div class="row mar2">
							  <div class="col-md-4"> <b>Oraganisateur</b> <p>Dan Enriqué</p></div>
								<div class="col-md-4"><b>Lieu</b><p>Place de l'indépendance</p></div>
								<div class="col-md-4"><b>Dates & Heure</b><p> Le 30 Aout 2020 <br>A 11H:00</p></div>
								<!-- <div class="col-md-12">
									<button [routerLink]="['/pages/register']" class="btn btn-solid">Détails</button>
								</div> -->
							  </div>
							</div>
						    </div>
						</div>
						<ngb-pagination [collectionSize]="expositions.length" [(page)]="pag" [pageSize]="pageSize" aria-label="Default pagination">
						</ngb-pagination>
			</div>

	</div>
</div>
