<div class="col-xs-12 col-md-12">
<div class="card-content table-responsive table-full-width" >
<table class="table" style="text-align: center;">
    <thead class="text-black">
      </thead>
      <tr>
        <th>
          <div class=""> Addresse </div>
        </th>
        <td>
            <i class="fa fa-address-card  bigger-110" style="color: #f07c10"></i>
            <span class="">{{address.ville}}/{{address.adresse}}</span>
        </td>
      </tr>
      <tr>
          <th>
            <div class=""> ville </div>
          </th>
          <td>
            <i class="fa fa-map-marker bigger-110" style="color: #f07c10"></i>
            <span>{{address.ville}}</span>
          </td>
      </tr>
    <tr>
        <th>
          <div class=""> Region </div>
        </th>
        <td>
            <span class="">{{address.region}}</span>
        </td>
      </tr>
      <tr>
          <th>
            <div class=""> Telephone </div>
          </th>
          <td>
              <i class="fa fa-phone-square bigger-110" style="color:#f07c10"></i>
              <span class="">{{address.telephone}}</span>
          </td>
        </tr>
</table>
  </div>
  </div>
