<app-breadcrumb [title]="'Favoris'" [breadcrumb]="'Favoris'"></app-breadcrumb>
<!-- section start -->
<section class="wishlist-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs" style="text-align: center;">
                    <thead>
                    <tr class="table-head">
                        <th scope="col">Image</th>
                        <th scope="col">Article</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Disponibilité</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody  *ngFor="let oeuvre of oeuvres">
                        <tr>
                            <td >
                                <a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">
                                    <img [src]="getOeuvreImageUrl(oeuvre?.id)" alt="fashion">
                                </a>
                            </td>
                            <td><a [routerLink]="['/shop/product/left/sidebar/', oeuvre.id]">{{oeuvre.nom}}</a>
                                
                            </td>
                            <td>{{oeuvre.prix | currency:productService?.Currency.currency:'symbol':'4.0-0':'fr'}} </td>
                            <td >
                                <p>{{oeuvre.stock}}</p>
                            </td>
                            <td>
                                <a (click)="removeOeuvre(oeuvre)" class="icon mr-3">
                                    <i class="ti-close"></i>
                                </a>
                                <a (click)="addOeuvreToCart(oeuvre)" class="cart">
                                    <i class="ti-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row wishlist-buttons">
            <div class="col-12">
                <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid-Valider">continuer l'exploration</a>
                <<!-- a [routerLink]="['/shop/checkout']" class="btn btn-solid">Payer maintenant</a> -->
            </div>
        </div>
    </div>
</section>
<!--section end-->