<app-breadcrumb [title]="'Mes abonnés'" [breadcrumb]="'Mes abonnés'"></app-breadcrumb>
<div class="section">
    <div class="container">
    	<div class="row">
            <div class="col-md-3">
                <div class="collection-sidebar-banner filter-main-btn">
                    <video width="100%" preload="auto" autoplay="autoplay" >
                        <source src="assets/images/banner/animation.mp4" type="video/mp4">
                      </video>
                </div>

                <div class="collection-sidebar-banner">
                    <a [routerLink]="['/shop/collection/left/sidebar']">
                        <img src="assets/images/banner/banner3.jpg" class="img-fluid" alt="banner">
                    </a>
                </div>
               
            </div>
            <div class="col-md-9 mar">
                <div class="row">
                    <div class="col-md-12">
                      <div class="top-banner-wrapper">
                        <div class="top-banner-content small-section">
                            <h4>Listes des clients qui suivent l'artiste</h4>
                            <h5>{{artiste?.prenom}} {{artiste?.nom}} : Biographie
                            </h5>
                            <p>
                                {{artiste?.biographie}}
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 first" *ngFor="let client of clients | slice: (pag-1) * pageSize : (pag-1) * pageSize + pageSize">
                        <div class="card profile-card-2 mar">
                            <div class="card-body pt-5">
                                <img src="assets/images/artists/profile.jpg" alt="profile-image" class="profile"/>
                                <a [routerLink]="['/pages/artiste']"><h5 class="card-title"> {{client?.prenom}} {{client?.nom}}</h5></a>
                                <p class="card-text"><i class="fa fa-info-circle"></i> {{client?.etatClient}}</p>
                                <p class="card-text"><i class="fa fa-flag"></i> {{client?.pays}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center section-b-space mt-5 no-found" *ngIf="!clients?.length">
                    <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                    <h3>Désolé! Il n'ya pas de client qui suit cette artiste !!!! </h3>
                    <p>La liste sera automatiquement mise à jour si  un client suit l'artiste.</p>
                    <a [routerLink]="['/shop/collection/left/sidebar']" class="btn btn-solid">Continuer à explorer</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <ngb-pagination [collectionSize]="clients.length" [(page)]="pag" [pageSize]="pageSize" aria-label="Default pagination">
                        </ngb-pagination>
                      </div> 
                     <br><br>
                 </div>
            </div>
            
        </div>
    </div> 
</div>
            
                

        