@media (max-width: 577px) {
    .section-l {
        width: 100%;
        margin-left:auto ;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 30px;

  }
}

.section-l {
    width: 78%;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
