<app-breadcrumb [title]="'Inscription'" [breadcrumb]="'Inscription'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Créer un compte Client</h3>
                <div class="theme-card">
                    <form class="theme-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit();" class="text-center">
                        <label> <strong>Pays<strong style="color: red;" >*</strong></strong></label>
                        <select class="mdb-select md-form form-control" (change)="choisirPays($event)" formControlName="codePays" required>
                            <option value="">Choisir votre pays</option>
                            <option *ngFor="let p of allPays" [value]="p.code">{{p.libelle}}</option>
                        </select>
                        <div *ngIf="signUpForm.get('codePays').errors && signUpForm.get('codePays').touched">
                          <p class="register-error-message" style="color: red;">Veuillez choisir votre pays !</p>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label><strong>Prénom<strong style="color: red;" >*</strong></strong></label>
                                <input type="text" class="form-control" id="prenom" name="prenom" formControlName="prenom" autocomplete="off" placeholder="Prénom(s)" required="">
                                <div *ngIf="signUpForm.get('prenom').errors && signUpForm.get('prenom').touched">
                                    <p class="register-error-message" style="color: red;">Veuillez saisir votre prénom !</p>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <label> <strong>Nom<strong style="color: red;" >*</strong></strong> </label>
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" formControlName="nom" autocomplete="off" required="">
                                <div *ngIf="signUpForm.get('nom').errors && signUpForm.get('nom').touched">
                                    <p class="register-error-message" style="color: red;">Veuillez saisir votre nom !</p>
                                  </div>
                            </div>
                            
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-md-12">
                                <label><strong> Genre <strong style="color: red;" >*</strong></strong> </label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="md-form">
                                        <input type="radio" class="register-gender-radio" id="male" name="gender" value="M" formControlName="gender">
                                        <label class="register-gender-label" for="male"> Homme</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="md-form">
                                        <input type="radio" class="register-gender-radio" id="female" name="gender" value="F" formControlName="gender">
                                        <label class="register-gender-label" for="female"> Femme</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="signUpForm.get('gender').errors && signUpForm.get('gender').touched">
                                    <p class="register-gender-error-message register-error-message" style="color: red;">Svp sélectionner votre genre !</p>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label><strong> Téléphone <strong style="color: red;" >*</strong></strong> </label>
                                <div class="row">
                                    <div  class="col-md-2">
                                        <input type="text" class="form-control" formControlName="indicatif" [(ngModel)]="indicatifpays" disabled="true">
                                    </div>
                                    <div  class="col-md-10">
                                        <input type="text" class="form-control" formControlName="mobile" required>
                                        <div *ngIf="signUpForm.get('mobile').errors && signUpForm.get('mobile').touched">
                                            <p class="register-error-message" style="color: red;">SVP entrer un numéro valide !</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <label><strong> Email <strong style="color: red;" >*</strong></strong> </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required="" formControlName="email" autocomplete="off">
                                <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').touched">
                                    <p class="register-error-message" style="color: red;">Entrez une adresse mail valide !</p>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="form-row">
                            
                            <div class="col-md-6">
                                <label><strong> Mot de passe <strong style="color: red;" >*</strong></strong> </label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required="" formControlName="password" autocomplete="off">
                                <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').touched">
                                    <p class="register-error-message" style="color: red;">
                                      Le mot de passe doit être composé au moins 6 caractères !</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><strong> Confirmer le mot de passe <strong style="color: red;" >*</strong></strong> </label>
                                <input type="password" class="form-control" id="conformation" name="password_confirmation" placeholder="Confirmer le mot de passe" required="" formControlName="password_confirmation" autocomplete="off">
                                <div *ngIf="(signUpForm.get('password_confirmation').errors || signUpForm.hasError('mismatchedPasswords')) && signUpForm.get('password_confirmation').touched">
                                    <p class="register-error-message" style="color: red;">{{ 'les mots de passe ne correspondent pas'}} !</p>
                                  </div>
                            </div>
                            
                            
                        </div>
                        <br><br><hr>
                        <div class="form-row">
                            <div class="col-md-6">
                                <button class="btn btn-solid-Valider" title="Valider" type="submit" [disabled]="!signUpForm?.valid">Valider</button>
                            </div> 
                            <div class="col-md-6">
                                <button title="Annuler" type="button" class="btn btn-solid-Annuler" routerLink="/accueil" routerLinkActive="router-link-active" >Annuler</button>
                            </div> 
                        </div>
                        
                    </form>
                    <br><br>
                    <a class="text-right text-default" title="Se connecter"  routerLink="/auth/login" routerLinkActive="router-link-active" >Vous avez dejà un compte? Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->