<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Créer un compte</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Prénom(s)</label>
                                <input type="text" class="form-control" id="fname" placeholder="Prénom(s)" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Nom</label>
                                <input type="password" class="form-control" id="lname" placeholder="Nom" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Téléphone</label>
                                <input type="text" class="form-control" id="tel" placeholder="00 221 70 000 00 00" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Mot de passe</label>
                                <input type="password" class="form-control" id="review" placeholder="Mot de passe" required="">
                            </div>
                            
                            
                        </div>
                        <div class="form-row">
                            <button class="btn btn-solid">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->