<app-header-one [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
  <!-- <app-slider 
    [sliders]="sliders" 
    [textClass]="'left'"
    [category]="'fashion'"
    [buttonText]="'Parcourir'"> 
  </app-slider> -->
  <video width="100%" height="550px" preload="auto" autoplay="autoplay" loop >
    <source src="assets/images/slider/video.mp4" type="video/mp4">
  </video>
</section>
<!-- Home slider End -->

<!--Actualité de l'art-->

<section class="section-l">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/banner/banner_d.png" class="img-fluid radius-img" alt="image à la une SignArt">
      </div>
          <div class="col-md-6">
                  <h3 class="ttle">
                    {{"L'histoire de l'art africain" | translate}}
                  </h3>
                  <p>
                    {{"L'histoire de l'art est la discipline qui a pour objet l'étude des œuvres dans l'histoire, et du sens qu'elles peuvent prendre. Elle étudie également les conditions de création des artistes, la reconnaissance du fait artistique par un public, ainsi que le contexte spirituel, culturel, anthropologique, idéologique et théorique, économique et social de l'art" | translate}}.
                  </p>
                  <div class="row">
                    <!-- <div class="col-md-2"><h5><span class="badge badge-secondary">Dan Enriqué</span></h5></div> -->
                    <div class="col-md-2 offset-r-8"><h5><span class="badge badge-secondary">SignArt</span></h5></div>
                    <div class="col-md-8"><a [routerLink]="'/pages/histoire'" title="{{'En savoir plus' | translate}}"  class="floart-l"> {{"En savoir plus" | translate}} <img src="assets/images/icon/arrow.svg" class="img-fluid"></a></div>
                  </div>
                </div>
            </div>
  </div>
</section>
<hr>

<!-- collection banner start-->
<section class="pb-0 marow">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of collections">
        <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
          <div class="collection-banner p-right text-center">
            <img [src]="collection.image" alt="collection-banner">
            <div class="contain-banner">
              <div>
                <h4>{{collection.save | translate}}</h4>
                <h2>{{collection.title | translate}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="pb-0 marow">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-4" *ngFor="let maodo of eric">
        <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
          <div class="collection-banner p-right text-center">
            <img [src]="maodo.image" alt="collection-banner">
            <div class="contain-banner"> 
              <div>
                <h4>{{maodo.save | translate}}</h4>
                <h2>{{maodo.title | translate}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- collection banner End -->

<!-- Product slider start-->
<div class="title1 section-t-space">
  <h2 class="title-inner1">{{"Collection de tableau" | translate}}</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
        <p class="text-center">
          {{"Retrouvez les toutes nouvelles collections d'œuvres réalisées par de grands artistes" | translate}}. <br>
          <a [routerLink]="['/shop/collection/left/sidebar']" title="En savoir plus" > {{"Commander des œuvres" | translate}} <img src="assets/images/icon/arrow.svg" class="img-fluid"></a>
        </p>
      </div>
    </div>
  </div>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let oeuvre of oeuvres | slice:0:16">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-box-one 
                  [oeuvre]="oeuvre" 
                  [currency]="productService?.Currency"
                  [thumbnail]="true"
                  [cartModal]="false">
                </app-product-box-one>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- Product slider End -->

<!-- Parallax banner start-->
<section class="p-0">
  <div class="full-banner parallax-banner1 parallax text-center p-left"
    [ngStyle]="{'background-image': 'url(assets/images/parallax/Banner_2.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain">
            <!--<h2>2018</h2>-->
            <h3>{{"Achetez le meilleur des galeries d'art contemporain" | translate}}</h3>
            <h4>130 000 {{"Œuvres" | translate}}, 15 000 {{"artistes" | translate}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner End -->

<!-- collection banner start-->
<section class="pb-0 marow">
  <div class="title1 section-t-space">  
    <h2 class="title-inner1">{{"Les Techniques d'art" | translate}}</h2>
  </div>
  <div class="container">
    <div class="row partition2">
      <div class="col-md-6" *ngFor="let collection of dan2">
        <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
          <div class="collection-banner p-right text-center">
            <img [src]="collection.image" alt="collection-banner">
            <div class="contain-banner">
              <div>
                <h4>{{collection.save | translate}}</h4>
                <h2>{{collection.title | translate}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="pb-0 marow">
  <div class="container">
    <div class="row partition2">
      <div class="col-md-4" *ngFor="let maodo of dan">
        <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'fashion'}">
          <div class="collection-banner p-right text-center">
            <img [src]="maodo.image" alt="collection-banner">
            <div class="contain-banner">
              <div>
                <h4>{{maodo.save | translate}}</h4>
                <h2>{{maodo.title | translate}}</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> <br>
<!-- collection banner End -->

<!-- Exposition Start -->
<hr>
<section class="section-l">
  <div class="col">
    <div class="title1 section-t-space">
      <h4>{{"EXPOSITION" | translate}}</h4>
      <h2 class="title-inner1">Signart</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/expoHomeImg.JPG" class="img-fluid radius-img" alt="image à la une SignArt">
      </div>
          <div class="col-md-6">
                  <h3 class="ttle">
                    {{"Exposition de l'art africain" | translate}}
                  </h3>
                  <p>
                    {{"Une exposition d'art est traditionnellement l'espace dans lequel les objets d'art (au sens le plus général) rencontrent un public . L'exposition est universellement comprise comme étant pour une période temporaire à moins que, comme c'est rarement le cas, elle soit déclarée être une «exposition permanente». Découvrez avec signart les différentes expostions prévues. Lieu, artiste, description, période, position et beaucoup d'autres informations à recueillir vous attendent." | translate}} 
                  </p>
                  <div class="row">
                    <!-- <div class="col-md-2"><h5><span class="badge badge-secondary">Dan Enriqué</span></h5></div> -->
                    <div class="col-md-2 offset-r-8"><h5><span class="badge badge-secondary">SignArt</span></h5></div>
                    <div class="col-md-8"><a [routerLink]="'/pages/histoire'" title="{{'En savoir plus' | translate}}"  class="floart-l"> {{"En savoir plus" | translate}} <img src="assets/images/icon/arrow.svg" class="img-fluid"></a></div>
                  </div>
                </div>
            </div>
  </div>
</section>
<hr>


<!-- blog section start -->
<section class="blog p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1 section-t-space">
          <h4>{{"Actualité" | translate}}</h4>
          <h2 class="title-inner1">SignArt</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blog"></app-blog>
      </div>
    </div>
  </div>
</section> <br><br>
<!-- blog section End -->


<!-- services start-->
<div class="container">
  <section class="service border-section small-section">
    <app-services></app-services>
  </section>
</div>
<!-- services End -->

<!--  logo section End-->

<!-- <app-newsletter></app-newsletter> -->
<app-footer-one></app-footer-one>

